@use "fonts";

$primary-color: #333;
$secondary-color: #f5f5f5;
$background-color: pink;
$body-font-family: helvetica, arial, sans-serif;
$heading-font-family: serif;
$base-font-size: 16px;
$base-font-weight: 400;
