@use "../abstracts/" as a;

#about-nate-wrapper {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  place-items: center;
}
#about-nate__details {
  display: flex;
  flex-direction: column;
  place-items: center;
}

#about-nate__card {
  display: none;
  grid-template-columns: 1fr 2fr;
  overflow: hidden;
  place-items: center;
  padding: 24px;
  row-gap: 16px;
  background-color: white;
  width: 330px;
  height: 120px;
  border-radius: 16px;
  margin-bottom: 32px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: height 0.3s ease-in-out;

  ul {
    border-top: 1px solid a.$sec-black;
    padding-top: 8px;
    grid-column: 2/3;
    width: 100%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;

    li {
      margin-right: 16px;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }
  }
}

#nate-image {
  width: 400px;
  height: 200px;
  overflow: hidden;
  margin-bottom: 24px;

  img {
    object-position: 50% -50%;
    width: 100%;
  }
}

#about-nate__card:hover {
  height: 160px;
  ul {
    opacity: 1;
    li {
      opacity: 1;
    }
  }
}

#about-nate__card ul li:hover {
  color: a.$black;
  font-weight: 600;
}

#about-nate__avatar {
  width: 70px;
  height: 70px;

  img {
    border-radius: 100px;
  }
}

#about-nate__tag {
  h2 {
    font-size: 1.35rem;
  }
  h3 {
    font-size: 1rem;
    font-weight: 300;
  }
}

#about-nate__text {
  width: 100%;
  margin: 0 auto;
  height: auto;
  p {
    line-height: 1.5;
    font-size: 2.5rem;
    font-weight: 200;
  }

  i {
    display: inline-block;
    animation: wiggle 1s infinite;
    color: salmon;
  }

  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-3deg);
    }
    50% {
      transform: rotate(3deg);
    }
  }
}

#contact-box-wrapper {
  width: 100%;
  margin-top: 24px;
}

#contact-box__container {
  p {
    text-align: center;
  }
}

#chat__container {
  button {
    display: grid;
    place-items: center;
    width: 80px;
    height: 40px;
    color: a.$white;
    border-radius: 36px;
    background: a.$black;
    margin-top: 32px;
    margin-bottom: 64px;
  }
}

#about-nate__promise {
  margin-top: 16px;
}

// Tablet Screen

@media screen and (min-width: 768px) and (max-width: 1079px) {
  #about-nate__card {
    gap: 16px;
    background-color: white;
    width: 420px;
    height: 120px;
  }

  #about-nate__avatar {
  }

  #about-nate__tag {
    h2 {
      font-size: 1.35rem;
    }
    h3 {
      font-size: 1rem;
      font-weight: 300;
    }
  }

  #about-nate__text {
    width: 100%;

    p {
      margin: 0 auto;
      text-align: left;
      font-size: 3rem;
    }
  }
}

// Desktop Screen

@media screen and (min-width: 1024px) {
  #about-nate-wrapper {
    margin-top: 112px;
  }
  #about-nate__card {
    gap: 16px;
  }

  #about-nate__avatar {
  }

  #about-nate__tag {
    h2 {
    }
    h3 {
    }
  }

  #about-nate__text {
    width: 100%;

    p {
      margin: 0 auto;
      text-align: left;
      font-size: 2.5rem;
    }
  }
}

// XL Desktop Screen
@media screen and (min-width: 1440px) {
  #about-nate__text {
    p {
      font-size: 3rem;
    }
  }
}
