@use "../abstracts/" as a;

#header-wrapper {
  position: relative;
  width: 100%;
  margin: 40px 0;
  background-color: a.$white;
}

#header__logo {
  display: flex;
  align-items: center;
  width: 100%;
  z-index: 999;
}

#header__nate-logo {
  width: 100%;
  height: auto;
}

#header__nav {
  // display: none;
  position: fixed;
  width: 100%;
  top: 96px;
  left: 0;
  z-index: 999;

  ul {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 64px 16px;
    background-color: a.$white;
    li {
      font-size: 2rem;
      font-weight: 300;
    }
  }
}
ul li:hover {
  color: a.$sec-black;
}

#header__menu-button {
  grid-column-start: 3;
  z-index: 9999;
  font-size: 0.75rem;
  align-self: flex-start;
}

#header__social-link {
  z-index: 100;
}

#social-link__btn {
  display: grid;
  place-items: center;
  width: 36px;
  height: 36px;
  padding: 10px;
  border-radius: 36px;
  color: a.$white;
  background-color: a.$black;
}

#header__bio-text {
  order: 4;
  width: clamp(380px, 382px, 385px);
  margin-top: 48px;
  font-size: 1.15rem;
  font-weight: 600;
}

@media screen and (min-width: 440px) and (max-width: 767px) {
  #header__menu-button {
    font-size: 1rem;
    font-weight: 400;
  }

  #header__logo {
    width: 70%;
  }
}

// Tablet Screen
@media screen and (min-width: 768px) and (max-width: 1079px) {
  #header-wrapper {
    margin-top: 48px;
    background-color: a.$white;
  }
  #header__logo {
    width: 70%;
  }

  #header__container {
    row-gap: 32px;
    padding: 0 16px;
  }

  #header__menu-button {
    display: none;
  }

  #header__nav {
    display: block;
    grid-column-start: 4;
    position: unset;
    // transform: translateY(0);
    ul {
      flex-direction: row;
      height: auto;
      gap: 24px;
      padding: 0;
      background-color: none;

      li {
        font-size: 1rem;
        color: a.$black;
      }
    }
  }

  #header__bio-text {
    grid-column-start: 1;
    order: 3;
    margin: 0;
    font-size: 1.15rem;
  }
}

// Desktop Screen
@media screen and (min-width: 1080px) and (max-width: 1279px) {
  #header__logo {
    width: 70%;
  }
  #header__bio-text {
    grid-column-start: 3;
    order: 0;
    margin: 0;
    font-size: 1rem;
    width: 130%;
    text-wrap: wrap;
  }

  #header__nav {
    display: block;
    grid-column-start: 6;
    position: unset;
    // transform: translateY(0);
    ul {
      flex-direction: row;
      height: auto;
      gap: 24px;
      padding: 0;
      background-color: none;

      li {
        font-size: 1rem;
        color: a.$black;
      }
    }
  }

  #header__menu-button {
    display: none;
  }
}

// Desktop Screen (Width 1280px - 1440px) (L)
@media screen and (min-width: 1280px) and (max-width: 1439px) {
  #header__logo {
    width: 60%;
  }

  #header__bio-text {
    grid-column-start: 4;
    margin-top: 0;
    order: 0;
  }

  #header__menu-button {
    display: none;
  }

  #header__nav {
    grid-column-start: 9;
    position: unset;
    // transform: translateY(0);
    ul {
      flex-direction: row;
      height: auto;
      gap: 24px;
      padding: 0;
      background-color: none;

      li {
        font-size: 1rem;
        color: a.$black;
      }
    }
  }
}

// XL Desktop Screen
@media screen and (min-width: 1440px) {
  #header__logo {
    width: 100px;
  }

  #header__bio-text {
    order: 0;
    grid-column-start: 4;
    margin-top: 0;
  }

  #header-wrapper {
    padding: 0 64px;
  }

  #header__nav {
    grid-column-start: 9;
  }

  #header__menu-button {
    display: none;
  }
  #header__nav {
    grid-column-start: 8;
    position: unset;
    transform: translateY(0%);
    ul {
      flex-direction: row;
      height: auto;
      gap: 24px;
      padding: 0;
      background-color: none;

      li {
        font-size: 1rem;
        color: a.$black;
      }
    }
  }
}
