/* Grid styles outline:
*General setting
*Landscape screen:
Desktop screen: 1280px and greater
Tablet portrait screen: less than 768px

*Portrait screen:
Tablet screen: less than 768px
Mobile screen less than 414px

*/

body,
* {
  border: 1px skyblue solid;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

/* !Desktop screen: 1280px ~ 1440px */

.grid-con {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-column-gap: 24px;
  padding: 0 24px;
}

.full-width {
  padding: 0 !important;
}

.col-span-full {
  grid-column: 1/-1;
}
.col-span-1 {
  grid-column: span 1 / span 1;
}
.col-span-2 {
  grid-column: span 2 / span 2;
}
.col-span-3 {
  grid-column: span 3 / span 3;
}
.col-span-4 {
  grid-column: span 4 / span 4;
}
.col-span-5 {
  grid-column: span 5 / span 5;
}
.col-span-6 {
  grid-column: span 6 / span 6;
}
.col-span-7 {
  grid-column: span 7 / span 7;
}
.col-span-8 {
  grid-column: span 8 / span 8;
}
.col-span-9 {
  grid-column: span 9 / span 9;
}
.col-span-10 {
  grid-column: span 10 / span 10;
}
.col-span-11 {
  grid-column: span 11 / span 11;
}

/* !Tablet screen: <= 768px */
@media screen and (max-width: 768px) {
  .grid-con {
    grid-template-columns: repeat(6, minmax(0, 1fr));
    grid-column-gap: 20px;
    padding: 0 20px;
  }

  .t-col-span-1 {
    grid-column: span 1 / span 1;
  }
  .t-col-span-2 {
    grid-column: span 2 / span 2;
  }
  .t-col-span-3 {
    grid-column: span 3 / span 3;
  }
  .t-col-span-4 {
    grid-column: span 4 / span 4;
  }
  .t-col-span-5 {
    grid-column: span 5 / span 5;
  }
}

/* !Tablet landscape screen: <= 768px */
@media only screen and (max-width: 768px) and (orientation: landscape) {
}

/* !Mobile screen <= 414px */
@media screen and (max-width: 414px) {
  .grid-con {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-column-gap: 12px;
    padding: 0 12px;
  }
  .m-col-span-1 {
    grid-column: span 1 / span 1;
  }
  .m-col-span-2 {
    grid-column: span 2 / span 2;
  }
  .m-col-span-3 {
    grid-column: span 3 / span 3;
  }
}
