@use "../abstracts" as a;

#project-table {
  width: 100%;
  padding: 48px 0;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.project-row {
  display: flex;
  width: 100%;
  height: 125px;
}

.project-desc-div {
  flex: 1 0 50%;
  font-size: 1.5rem;
  padding: 8px 16px;
  line-height: 1.5rem;
  span {
    font-size: 1.25rem;
    font-weight: 300;
    color: a.$sec-black;
    text-wrap: nowrap;
  }
  i {
    color: a.$white;
  }

  transition: all 0.5s ease;
}

.project-desc-div:hover {
  background-color: white;
  color: black;
  span {
    color: black;
  }
  i {
    color: black;
  }
}

.project-image-div {
  flex: 1 0 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

// Mobile Screen (wider than 1080px)
@media screen and (min-width: 768px) and (max-width: 1079px) {
}

// Tablet Screen (wider than 1080px)
@media screen and (min-width: 1080px) and (max-width: 1279px) {
  .project-row {
    display: flex;
    width: 100%;
    height: 150px;
  }
}

// Desktop Screen (Width 1280px - 1440px)
@media screen and (min-width: 1280px) and (max-width: 1439px) {
  .project-row {
    display: flex;
    width: 100%;
    height: 180px;
  }
}

// Desktop Screen (Wider than 1440px)
@media screen and (min-width: 1440px) {
  .project-row {
    display: flex;
    width: 100%;
    height: 180px;
  }
}
