@use "../abstracts/" as a;

#contact-box__container {
  margin-bottom: 48px;
  p {
    font-size: 1.25rem;
    text-align: center;
  }
}

#contact-box__form {
  margin-top: 32px;
  margin: 0 auto;
  input {
    width: 100%;
    border: 2px a.$sec-black solid;
    padding: 18px;
    font-size: 1;
    margin-top: 16px;
  }

  input:focus {
    background-color: white;
  }

  button {
    width: 100%;
    text-align: center;
    color: a.$white;
    background-color: a.$black;
    padding: 18px;
    font-size: 1;
    margin-top: 16px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1079px) {
  #contact-box__form {
    width: 50%;
  }
}

@media screen and (min-width: 1080px) and (max-width: 1279px) {
  #contact-box__form {
    margin: 0 auto;
    width: 50%;
  }
}
