@use "../abstracts/" as a;

#hero-wrapper {
  position: relative;
  height: 100%;
}

#hero__container {
  height: 100%;
}

#hero__card-deck {
  height: 100%;
  display: flex;
  flex-direction: column;
  place-items: center;
  height: auto;
  gap: 24px;
  margin: 0;
  padding: 0;
}

.hero__card {
  width: 100%;
  max-width: 300px;
  object-fit: cover;
  cursor: pointer;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  img {
    width: 100%;
  }
}

#hero_project-detail__wrapper {
  position: absolute;
  left: 0;
  width: 100vw;
  z-index: 9999;
  background-color: a.$white;
  transform: translateY(-200vh);
  opacity: 0;
  box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.1), -3px 3px 4px rgba(0, 0, 0, 0.09),
    -6px 7px 6px rgba(0, 0, 0, 0.05), -11px 12px 7px rgba(0, 0, 0, 0.01);
}

#hero__project-details {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  background-color: a.$white;
  gap: 32px;

  h2 {
    font-size: 1.8rem;
    font-weight: 400;
  }

  span {
    font-size: 1.8rem;
    font-weight: 300;
    color: a.$sec-black;
  }
}

#project-details {
  padding: 32px 16px;
  width: 100%;
  opacity: 1;
  transition: all 0.5 ease;
}

#project-details__lightbox-controller {
  position: absolute;
  top: -16px;
  right: 0;
  padding: 16px;
  font-size: 2rem;
}

#project-details__image {
  width: 100%;
  height: auto;
  order: 0;
}

#project-details__headline {
  margin: 16px 0;
  font-size: 3rem;
  line-height: 1.25;
}

#project-details__client {
  font-size: 1rem;
  color: a.$sec-black;
}

#project-details__desc {
  margin-top: 16px;
  font-size: 1.25rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

#project-link {
  font-size: 1.25rem;
  font-weight: 400;
  color: a.$sec-black;
  margin-top: 32px;
}

// Tablet Screen

@media screen and (min-width: 768px) and (max-width: 1079px) {
  #hero__container {
    // height: 50vh;
  }

  #hero__project-details {
  }

  #project-details__image {
  }

  #project-details__client {
  }

  #project-details__desc {
  }

  #project-link {
  }

  //!Hero Cards
  #hero__card-deck {
    display: flex;
    flex-wrap: wrap;
  }

  .hero__card {
    width: 300px;
    height: auto;
  }
}

@media screen and (min-width: 1080px) and (max-width: 1279px) {
  #hero__container {
    place-items: unset;
    min-height: 400px;
    height: 600px;
  }

  #hero__project-details {
    height: auto;
    width: 100%;
    h2 {
    }
    span {
    }
  }
  #project-details__lightbox-controller {
    display: none;
  }

  #project-link {
    display: none;
  }

  #project-details__image {
    width: 400px;
    aspect-ratio: 16/9;
    grid-row: span 3;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  #project-details__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  #project-details {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    column-gap: 16px;
  }

  #project-details__headline {
    grid-column: 3 / 8;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
  }

  #project-details__client {
    grid-column: 3 / 8;
  }

  #project-details__desc {
    grid-column: 3 / 8;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
  }

  //!Hero Cards
  #hero__card-deck {
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    margin-top: 0;
    row-gap: 0;
    column-gap: 0;
  }

  .hero__card {
    width: 100%;
    height: auto;
  }
}

// Desktop Screen

@media screen and (min-width: 1280px) and (max-width: 1440px) {
  #hero__container {
    min-height: 400px;
    height: 600px;
  }

  #hero__project-details {
    height: auto;
    width: 100%;
  }

  #project-details__lightbox-controller {
    display: none;
  }

  #project-link {
    display: none;
  }

  #project-details__image {
    width: 400px;
    aspect-ratio: 16/9;
    grid-row: span 3;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  #project-details__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  #project-details {
    width: 100%;
    max-width: 1440px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    column-gap: 16px;
  }

  #project-details__headline {
    grid-column: 3 / 8;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
  }

  #project-details__client {
    grid-column: 3 / 8;
  }

  #project-details__desc {
    grid-column: 3 / 8;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
  }

  //!Hero Cards
  #hero__card-deck {
    width: 100%;
    row-gap: 36px;

    margin: 0;
    flex-direction: row;
    justify-content: center;
  }

  .hero__card {
    width: 430px;
    height: auto;
  }
}

@media screen and (min-width: 1440px) {
  #hero__container {
    min-height: 400px;
    height: 600px;
  }

  #hero__project-details {
    height: auto;
    width: 100%;
  }

  #project-details__lightbox-controller {
    display: none;
  }

  #project-link {
    display: none;
  }

  #project-details__image {
    width: 400px;
    aspect-ratio: 16/9;
    grid-row: span 3;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  #project-details__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  #project-details {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    column-gap: 16px;
  }

  #project-details__headline {
    grid-column: 3 / 8;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
  }

  #project-details__client {
    grid-column: 3 / 8;
  }

  #project-details__desc {
    width: 100%;
    grid-column: 3 / 8;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
  }

  //!Hero Cards
  #hero__card-deck {
    width: 100%;
    row-gap: 36px;
    margin: 0;
    flex-direction: row;
    justify-content: center;
  }

  .hero__card {
    width: 430px;
    height: auto;
  }
}
