@use "../abstracts/" as a;

#hero-wrapper {
  height: 70vh;
}

#hero_project-detail__wrapper {
  position: relative;
  z-index: 999;
}

#hero__project-details {
  position: fixed;
  display: flex;
  top: 240px;
  flex-direction: column;
  height: auto;
  margin-top: 24px;
  background-color: a.$white;

  h2 {
    font-size: 1.8rem;
    font-weight: 400;
  }

  span {
    font-size: 1.8rem;
    font-weight: 300;
    color: a.$sec-black;
  }
}

#project-details {
  padding: 32px 16px;
  width: auto;
  opacity: 1;
  transition: all 0.5 ease;
}

#project-details__lightbox-controller {
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px;
  font-size: 1.25rem;
}

#project-details__image {
  width: 100%;
  height: 250px;
  order: 0;
}

#project-details__client {
  font-size: 1rem;
  color: a.$sec-black;
}

#project-details__desc {
  margin-top: 32px;
  font-size: 0.75rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

#project-link {
  font-size: 0.85rem;
  font-weight: 400;
  color: a.$sec-black;
  text-decoration: underline;
  margin-top: 32px;
  float: right;
}

// !Hero Card deck
#hero__card-deck {
  display: flex;
  flex-direction: column;
  place-items: center;
  height: auto;
  gap: 24px;
  margin: 48px 0;
  padding: 48px;
  overflow: visible;
}

.hero__card {
  width: 100%;
  height: auto;
  object-fit: cover;
  cursor: pointer;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  img {
    width: 100%;
  }
}

// Tablet Screen

@media screen and (min-width: 768px) {
  #hero__project-details {
    position: absolute;
    top: 0;
    h2 {
      font-size: 2.2rem;
    }
    span {
      font-size: 2.2rem;
    }
  }

  #project-details__image {
    height: 330px;
  }

  #project-details__client {
    font-size: 1rem;
  }

  #project-details__desc {
    font-size: 1.25rem;
  }

  #project-link {
    font-size: 1rem;
  }

  //!Hero Cards
  #hero__card-deck {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: visible;
  }

  .hero__card {
    width: 300px;
    height: auto;
    flex: 0 1 300px;
  }
}

@media screen and (min-width: 1080px) and (max-width: 1280px) {
  #hero__project-details {
    height: auto;
    width: 100%;
    h2 {
    }
    span {
    }
  }
  #project-details__lightbox-controller {
    display: none;
  }

  #project-link {
    display: none;
  }

  #project-details__image {
    width: 400px;
    height: 100%;
    grid-row: span 3;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  #project-details__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  #project-details {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 16px;
  }

  #project-details__headline {
    grid-column-start: 2;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
  }

  #project-details__client {
    grid-column-start: 2;
  }

  #project-details__desc {
    grid-column-start: 2;
  }

  //!Hero Cards
  #hero__card-deck {
    width: 100%;
    margin-top: 240px;
    row-gap: 36px;
    background-color: red;
  }

  .hero__card {
    width: 200px;
    height: auto;
    flex: 0 1 300px;
  }
}

// Desktop Screen

@media screen and (min-width: 1280px) and (max-width: 1440px) {
  #hero__project-details {
    height: auto;
    width: 100%;
  }

  #project-details__lightbox-controller {
    display: none;
  }

  #project-link {
    display: none;
  }

  #project-details__image {
    width: 400px;
    height: 100%;
    grid-row: span 3;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  #project-details__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  #project-details {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 16px;
  }

  #project-details__headline {
    grid-column-start: 2;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
  }

  #project-details__client {
    grid-column-start: 2;
  }

  #project-details__desc {
    grid-column-start: 2;
  }

  //!Hero Cards
  #hero__card-deck {
    width: 100%;
    margin-top: 240px;
    row-gap: 36px;
    background-color: red;
  }

  .hero__card {
    width: 200px;
    height: auto;
    flex: 0 1 300px;
  }
}

@media screen and (min-width: 1440px) {
  #hero__container {
    width: 100%;
    height: 70vh;
  }
  #hero_project-detail__wrapper {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  #hero__project-details {
    height: auto;
    width: 100%;
  }

  #project-details__lightbox-controller {
    display: none;
  }

  #project-link {
    display: none;
  }

  #project-details__image {
    width: 500px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    grid-row: span 3;
  }

  #project-details__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  #project-details {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 16px;
  }

  #project-details__headline {
    grid-column-start: 2;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
  }

  #project-details__client {
    grid-column-start: 2;
  }

  #project-details__desc {
    grid-column-start: 2;
  }

  #hero__card-deck {
    width: 100%;
    margin-top: 240px;
    row-gap: 36px;
  }

  .hero__card {
    width: 200px;
    height: auto;
    flex: 0 1 300px;
  }
}
